<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <form action="/professor" method="POST">
        <label>Nome: </label>
        <input type="text" name="nomeprofessor">
        <label>Contato: </label>
        <input type="text" name="contato">
        <label>Endereço: </label>
        <input type="text" name="endereco">
        <br>
        <button>Enviar</button>
    </form>
    <a href="/professor">Voltar</a>
    
</body>
</html>