<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

</head>
<body>
    <form action="/alunos" method="POST">
        <label>Nome: </label>
        <input type="text" name="nomealunos">
        <label>materias: </label>
        <input type="text" name="materias">
        <label>Porte Fisico: </label>
        <input type="text" name="notas">
        <label>Sexo: </label>
        <input type="text" name="sexo">
        <label>Peso: </label>
        <input type="text" name="peso">
        <label>Nome professor: </label>
        <input type="text" name="nomeprofessor">
        <br>
        <button>Enviar</button>
    </form>
    <a href="/alunos">Voltar</a>
    
</body>
</html>